
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */

body {
  color: blueviolet;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

a{
    color: orange;
    text-decoration: none
 }

a:hover{
    color: orchid
}

h3{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 32px;
    line-height: 2em;
    text-align: center;
    margin: 10px;
}

h4{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    line-height: 2em;
    text-align: center;
    margin: 10px;
}
/* ---- layout / common styles ---- */

body { 
    background:whitesmoke
}

.main-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

.container {
  margin: 0 20px;
  max-width: 960px;
  border: 1px solid black
}

section {
  margin-bottom: 20px;
  padding-top: 20px;
}

img:hover{
    opacity: .7 ;
    -moz-box-shadow:    3px 3px 10px 0px #000;
    -webkit-box-shadow: 3px 3px 10px 0px #000;
    box-shadow:         3px 3px 10px 0px #000;
  }

.inline-list li{ 
    display: inline-block;   
}

.portfolio-list li{
    width: 30%
}

section:nth-last-of-type(even){
    background: lightblue
}
/* ---- components ---- */

/*--- portfolio-list---*/

.flex-list{
    display: flex
}
.flex-list li{
    flex-basis: 100%;
    flex-wrap: wrap;
}
/* --- HEADER --- */

.page-header a{
    color: aqua;
    padding: 5px 10px;
    font-weight: 800;
}

.page-header a:hover{
    color: teal
}

.page-header{
    background: #000; 
    color: floralwhite;
    display: flex;
    justify-content: space-between;
    font-size: 1em; 
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* ---- banner ---*/
.banner{
    height: 50vh;
    color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/senior-designer.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.banner h1{
    font-family: 'Lilita One', cursive;
    font-size: 3em;
    line-height: 2em;
}

/* ---- section ---- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-header{
        background: #ffffff; 
        color: goldenrod
    }
    .page-header a{
        color: orangered
    }
    .page-header a:hover{
        color: yellow
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .page-header{
        background: slategray; 
        color: skyblue
    }
    .page-header a{
        color: gainsboro
    }
    .page-header a:hover{
        color: burlywood
    }
    .container{
        margin: 0 auto
    }
    .page-header{
        font-size: 1.5em
    }
    .flex-list li{
        flex-basis: 50%
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



}
